@import url('https://fonts.googleapis.com/css2?family=Lexend:wght@400;700&display=swap');

body, .main-bg {
  font-family: 'Lexend', 'Pretendard', sans-serif;
  background: #fff;
  margin: 0;
  padding: 0;
}

.main-bg {
  min-height: 100vh;
  padding: 32px 0;
  background: #fff;
}

.header {
  background: #575dbd;
  color: #fff;
  font-size: 24px;
  font-weight: 400;
  border-radius: 4px;
  text-align: center;
  width: 600px;
  margin: 0 auto 24px auto;
  padding: 20px 0;
}

.top-info {
  display: flex;
  gap: 24px;
  width: 900px;
  margin: 0 auto 24px auto;
}
.user-box, .problem-box {
  flex: 1;
  border-radius: 12px;
  font-size: 20px;
  padding: 16px 0;
  text-align: center;
  font-weight: 400;
  display: flex;
  align-items: center;
  justify-content: center;
}
.user-box { background: #8be185; color: #222; }
.problem-box { background: #ee2b2b; color: #fff; }

.main-card {
  display: flex;
  width: 900px;
  margin: 0 auto;
  border: 2px solid #222;
  border-radius: 16px;
  overflow: hidden;
  background: #fff;
  min-height: 380px;
}
.notice-area {
  flex: 1;
  border-right: 1px solid #aaa;
  padding: 24px 20px 24px 24px;
  background: #fff;
}
.notice-title {
  font-size: 20px;
  font-weight: 700;
  margin-bottom: 0;
  border-bottom: 2px solid #222;
  padding-bottom: 8px;
  margin-right: -4px;
}
.notice-list {
  display: flex;
  flex-direction: column;
  gap: 16px;
  margin-top: 16px;
  max-height: 345px;
  overflow-y: auto;
  padding-right: 4px;
}
.notice-list::-webkit-scrollbar {
  width: 6px;
  background: #eee;
  border-radius: 4px;
}
.notice-list::-webkit-scrollbar-thumb {
  background: #bbb;
  border-radius: 4px;
}
.notice-item {
  background: #c8c8c8;
  border-radius: 12px;
  padding: 10px 16px;
  font-size: 16px;
  display: flex;
  align-items: center;
  font-weight: 400;
}
.notice-num {
  background: #fff;
  border-radius: 8px;
  width: 32px; height: 32px;
  display: flex; align-items: center; justify-content: center;
  font-weight: 700;
  margin-right: 16px;
  border: 1.5px solid #888;
  font-size: 18px;
}
.fall-area {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  padding: 32x 0px;
  gap: 4px;
  background: #fff;
}
.fall-icon {
  margin-bottom: 0px;
  margin-top: 0px;
}
.fall-bar {
  background: #ee2b2b;
  color: #fff;
  font-weight: 700;
  font-size: 22px;
  border-radius: 0 0 10px 10px;
  width: 100%;
  text-align: center;
  padding: 12px 0 10px 0;
  margin: 0;
  box-sizing: border-box;
}
.fall-number {
  font-size: 48px;
  font-weight: 700;
  color: #222;
  text-align: center;
  margin-top: 25px;
  margin-bottom: 32px;
}
.timestamp {
  text-align: right;
  margin-top: 12px;
  font-size: 16px;
  color: #222;
  width: 900px;
  margin-left: auto;
  margin-right: auto;
}